In [1]:
cols = """
    url_twit,
    url_fb,
    address,
    related_persons,

    attachments ,
    flag_active ,
    added_at ,
    edited_at ,
    added_by ,
    edited_by
"""

In [4]:
print([c.strip() for c in cols.split(",") if c.strip()])

['url_twit', 'url_fb', 'address', 'related_persons', 'attachments', 'flag_active', 'added_at', 'edited_at', 'added_by', 'edited_by']

In [1]:
import re

In [4]:
_BAD_SQL = re.compile('\s*(drop|delete)\s+')

In [14]:
_BAD_SQL.findall("   DROP-box table abc; Deleted from xyz;".lower())

[]

In [1]:
tickers = """
SILJ
GDX
AXU
EXK

DBA
WEAT
KHC
TSN

UNG
FCG
XLE

XLB
URA
EWA
XME
"""
x = ",".join([t.strip() for t in tickers.split("\n") if t.strip()])
x

'SILJ,GDX,AXU,EXK,DBA,WEAT,KHC,TSN,UNG,FCG,XLE,XLB,URA,EWA,XME'

In [2]:
from pathlib import Path

In [3]:
CHART_ROOT = Path.home() / "charts"

In [4]:
CHART_ROOT

WindowsPath('C:/Users/w_gon/charts')

In [5]:
Path.exists(CHART_ROOT)

True

In [8]:
tmpDir = Path.joinpath(CHART_ROOT, "tmp")

In [9]:
if not Path.exists(tmpDir):
    Path.mkdir(tmpDir)

In [10]:
Path.exists(tmpDir)

True

In [16]:
list(Path(CHART_ROOT).glob("*.png"))

[WindowsPath('C:/Users/w_gon/charts/GDX.png'),
 WindowsPath('C:/Users/w_gon/charts/QQQ.png'),
 WindowsPath('C:/Users/w_gon/charts/SPY.png')]

In [15]:
for i in Path(CHART_ROOT).glob("*.png"):
    print(i.stem)

QQQ
SPY

In [21]:
tickers = sorted([f.stem for f in Path(CHART_ROOT).glob("*.png")])
tickers

['GDX', 'QQQ', 'SPY']

In [19]:
list(Path(CHART_ROOT).glob(".png"))

[]

In [22]:
import pandas as pd
import numpy as np
data = np.arange(1,13)
data = data.reshape(3,4)
df = pd.DataFrame(data=data,columns=['a','b','c','d'])
df

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [23]:
df["b_u"] = df["b"] + 2
df["b_d"] = df["b"] - 2

In [24]:
df

   a   b   c   d  b_u  b_d
0  1   2   3   4    4    0
1  5   6   7   8    8    4
2  9  10  11  12   12    8

In [32]:
df.max(axis=0)[['b','b_u', 'b_d']].max()

12

In [31]:
type(df.max(axis=0)[['b','b_u', 'b_d']])

pandas.core.series.Series