In [1]:
cols = """
    url_twit,
    url_fb,
    address,
    related_persons,

    attachments ,
    flag_active ,
    added_at ,
    edited_at ,
    added_by ,
    edited_by
"""

In [4]:
print([c.strip() for c in cols.split(",") if c.strip()])

['url_twit', 'url_fb', 'address', 'related_persons', 'attachments', 'flag_active', 'added_at', 'edited_at', 'added_by', 'edited_by']

In [1]:
import re

In [4]:
_BAD_SQL = re.compile('\s*(drop|delete)\s+')

In [14]:
_BAD_SQL.findall("   DROP-box table abc; Deleted from xyz;".lower())

[]

In [1]:
tickers = """
SILJ
GDX
AXU
EXK

DBA
WEAT
KHC
TSN

UNG
FCG
XLE

XLB
URA
EWA
XME
"""
x = ",".join([t.strip() for t in tickers.split("\n") if t.strip()])
x

'SILJ,GDX,AXU,EXK,DBA,WEAT,KHC,TSN,UNG,FCG,XLE,XLB,URA,EWA,XME'

In [2]:
from pathlib import Path

In [3]:
CHART_ROOT = Path.home() / "charts"

In [4]:
CHART_ROOT

WindowsPath('C:/Users/w_gon/charts')

In [5]:
Path.exists(CHART_ROOT)

True

In [8]:
tmpDir = Path.joinpath(CHART_ROOT, "tmp")

In [9]:
if not Path.exists(tmpDir):
    Path.mkdir(tmpDir)

In [10]:
Path.exists(tmpDir)

True

In [16]:
list(Path(CHART_ROOT).glob("*.png"))

[WindowsPath('C:/Users/w_gon/charts/GDX.png'),
 WindowsPath('C:/Users/w_gon/charts/QQQ.png'),
 WindowsPath('C:/Users/w_gon/charts/SPY.png')]

In [15]:
for i in Path(CHART_ROOT).glob("*.png"):
    print(i.stem)

QQQ
SPY

In [21]:
tickers = sorted([f.stem for f in Path(CHART_ROOT).glob("*.png")])
tickers

['GDX', 'QQQ', 'SPY']

In [19]:
list(Path(CHART_ROOT).glob(".png"))

[]

In [22]:
import pandas as pd
import numpy as np
data = np.arange(1,13)
data = data.reshape(3,4)
df = pd.DataFrame(data=data,columns=['a','b','c','d'])
df

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [23]:
df["b_u"] = df["b"] + 2
df["b_d"] = df["b"] - 2

In [24]:
df

   a   b   c   d  b_u  b_d
0  1   2   3   4    4    0
1  5   6   7   8    8    4
2  9  10  11  12   12    8

In [32]:
df.max(axis=0)[['b','b_u', 'b_d']].max()

12

In [31]:
type(df.max(axis=0)[['b','b_u', 'b_d']])

pandas.core.series.Series

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col1': [1, 2],
                   'col2': [0.5, 0.75]},
                  index=['row1', 'row2'])

In [3]:
df

      col1  col2
row1     1  0.50
row2     2  0.75

In [17]:
type(df.iloc[-1,:])

pandas.core.series.Series

In [20]:
df.iloc[-1,:].name, df.iloc[-1,:].to_dict()

('row2', {'col1': 2.0, 'col2': 0.75})

In [10]:
df.to_dict('index')

{'row1': {'col1': 1, 'col2': 0.5}, 'row2': {'col1': 2, 'col2': 0.75}}

In [21]:
def _load_etf_df():
    # etf_df = pd.read_csv("./data/wl_futures_etf.csv")
    etf_data = [
        {'symbol': 'SPY', 'name': 'S&P 500', 'sector': 'Equity Index', 'order': 0.1} ,
        {'symbol': 'QQQ', 'name': 'Nasdaq 100', 'sector': 'Equity Index', 'order': 0.2} ,
        {'symbol': 'DIA', 'name': 'Dow 30', 'sector': 'Equity Index', 'order': 0.3} ,
        {'symbol': 'IWM', 'name': 'Russell 2000', 'sector': 'Equity Index', 'order': 0.4} ,
        {'symbol': 'SDS', 'name': 'Short S&P 500', 'sector': 'Equity Index', 'order': 0.7} ,
        {'symbol': 'QID', 'name': 'Short Nasdaq 100', 'sector': 'Equity Index', 'order': 0.8} ,
        {'symbol': 'DXD', 'name': 'Short Dow 30', 'sector': 'Equity Index', 'order': 0.9} ,
        {'symbol': 'XLE', 'name': 'Energy', 'sector': 'Sector', 'order': 1.001} ,
        {'symbol': 'XME', 'name': 'Metal', 'sector': 'Sector', 'order': 1.002} ,
        {'symbol': 'XLK', 'name': 'Technology', 'sector': 'Sector', 'order': 1.01} ,
        {'symbol': 'XLF', 'name': 'Financials', 'sector': 'Sector', 'order': 1.02} ,
        {'symbol': 'XLV', 'name': 'Health-care', 'sector': 'Sector', 'order': 1.03} ,
        {'symbol': 'XLI', 'name': 'Industrials', 'sector': 'Sector', 'order': 1.04} ,
        {'symbol': 'XLB', 'name': 'Materials', 'sector': 'Sector', 'order': 1.05} ,
        {'symbol': 'XLP', 'name': 'Consumer Staples', 'sector': 'Sector', 'order': 1.06} ,
        {'symbol': 'XLY', 'name': 'Consumer Discretionary', 'sector': 'Sector', 'order': 1.07} ,
        {'symbol': 'XLC', 'name': 'Communication Services', 'sector': 'Sector', 'order': 1.08} ,
        {'symbol': 'XLU', 'name': 'Utilities', 'sector': 'Sector', 'order': 1.09} ,
        {'symbol': 'XLRE', 'name': 'Real Estate', 'sector': 'Sector', 'order': 1.11} ,
        {'symbol': 'VGT', 'name': 'Vanguard IT', 'sector': 'Technology', 'order': 2.1} ,
        {'symbol': 'CLOU', 'name': 'Global X Cloud Computing', 'sector': 'Technology', 'order': 2.2} ,
        {'symbol': 'IGV', 'name': 'Tech-Software', 'sector': 'Technology', 'order': 2.3} ,
        {'symbol': 'SMH', 'name': 'Semiconductor Index', 'sector': 'Technology', 'order': 2.4} ,
        {'symbol': 'UUP', 'name': 'US Dollar', 'sector': 'Currency', 'order': 3.01} ,
        {'symbol': 'CYB', 'name': 'China Yuan', 'sector': 'Currency', 'order': 3.02} ,
        {'symbol': 'FXE', 'name': 'Euro', 'sector': 'Currency', 'order': 3.03} ,
        {'symbol': 'FXY', 'name': 'Japan Yen', 'sector': 'Currency', 'order': 3.04} ,
        {'symbol': 'UDN', 'name': 'US Dollar - Short', 'sector': 'Currency', 'order': 3.09} ,
        {'symbol': 'BITO', 'name': 'ProShares Bitcoin Strategy', 'sector': 'Currency', 'order': 3.11} ,
        {'symbol': 'USO', 'name': 'United States Oil Fund LP', 'sector': 'Energy', 'order': 4.01} ,
        {'symbol': 'BNO', 'name': 'United States Brent Oil Fund LP', 'sector': 'Energy', 'order': 4.02} ,
        {'symbol': 'DBO', 'name': 'Invesco DB Oil Fund', 'sector': 'Energy', 'order': 4.03} ,
        {'symbol': 'UNG', 'name': 'United States Natural Gas Fund LP', 'sector': 'Energy', 'order': 4.05} ,
        {'symbol': 'BOIL', 'name': 'ProShares Ultra Bloomberg Natural Gas', 'sector': 'Energy', 'order': 4.06} ,
        {'symbol': 'GRN', 'name': 'iPath Series B Carbon ETN', 'sector': 'Energy-Clean', 'order': 4.11} ,
        {'symbol': 'ICLN', 'name': 'iShares Global Clean Energy', 'sector': 'Energy-Clean', 'order': 4.12} ,
        {'symbol': 'GSG', 'name': 'iShares S&P GSCI Commodity-Indexed Trust', 'sector': 'Commodity', 'order': 5.1} ,
        {'symbol': 'DBC', 'name': 'Invesco DB Commodity Index Tracking Fund', 'sector': 'Commodity', 'order': 5.2} ,
        {'symbol': 'GLD', 'name': 'Gold', 'sector': 'Metal', 'order': 6.1} ,
        {'symbol': 'SLV', 'name': 'Silver', 'sector': 'Metal', 'order': 6.2} ,
        {'symbol': 'GDX', 'name': 'Gold miner', 'sector': 'Metal', 'order': 6.3} ,
        {'symbol': 'SILJ', 'name': 'Silver miner', 'sector': 'Metal', 'order': 6.4} ,
        {'symbol': 'COPX', 'name': 'Copper Fund', 'sector': 'Metal', 'order': 6.5} ,
        {'symbol': 'URA', 'name': 'Global X Uranium', 'sector': 'Metal', 'order': 6.6} ,
        {'symbol': 'PALL', 'name': 'Palladium', 'sector': 'Metal', 'order': 6.7} ,
        {'symbol': 'LIT', 'name': 'Global X Lithium & Battery Tech ', 'sector': 'Metal', 'order': 6.8} ,
        {'symbol': 'DBA', 'name': 'Invesco DB Agriculture Fund', 'sector': 'Agri', 'order': 7.01} ,
        {'symbol': 'MOO', 'name': 'VanEck Vectors Agribusiness', 'sector': 'Agri', 'order': 7.02} ,
        {'symbol': 'RJA', 'name': 'Elements Agriculture', 'sector': 'Agri', 'order': 7.03} ,
        {'symbol': 'CORN', 'name': 'Teucrium Corn Fund', 'sector': 'Agri', 'order': 7.05} ,
        {'symbol': 'WEAT', 'name': 'Teucrium Wheat Fund', 'sector': 'Agri', 'order': 7.06} ,
        {'symbol': 'COW', 'name': 'iPath Bloomberg Livestock', 'sector': 'Agri', 'order': 7.07} ,
        {'symbol': 'JO', 'name': 'iPath Bloomberg Coffee Subindex', 'sector': 'Agri', 'order': 7.08} ,
        {'symbol': 'WOOD', 'name': 'iShares Global Timber & Forestry', 'sector': 'Agri', 'order': 7.09} ,
        {'symbol': 'PHO', 'name': 'Invesco Water Resources', 'sector': 'Agri', 'order': 7.11} ,
        {'symbol': 'SCHF', 'name': 'Schwab International Equity', 'sector': 'International', 'order': 10.1} ,
        {'symbol': 'SCHC', 'name': 'Schwab International Small-Cap Equity', 'sector': 'International', 'order': 10.11} ,
        {'symbol': 'GWX', 'name': 'SPDR S&P International Small Cap', 'sector': 'International', 'order': 10.12} ,
        {'symbol': 'EWG', 'name': 'iShares MSCI Germany', 'sector': 'International', 'order': 10.135} ,
        {'symbol': 'EWQ', 'name': 'iShares MSCI France', 'sector': 'International', 'order': 10.1351} ,
        {'symbol': 'EWU', 'name': 'iShares MSCI United Kingdom', 'sector': 'International', 'order': 10.1352} ,
        {'symbol': 'RSX', 'name': 'VanEck Russia', 'sector': 'International', 'order': 10.1353} ,
        {'symbol': 'SCZ', 'name': 'iShares MSCI EAFE Small-Cap', 'sector': 'International', 'order': 10.21} ,
        {'symbol': 'EFA', 'name': 'iShares MSCI EAFE', 'sector': 'International', 'order': 10.22} ,
        {'symbol': 'FXI', 'name': 'iShares China Large-Cap', 'sector': 'International', 'order': 10.23} ,
        {'symbol': 'MCHI', 'name': 'iShares MSCI China', 'sector': 'International', 'order': 10.24} ,
        {'symbol': 'KWEB', 'name': 'KraneShares CSI China Internet', 'sector': 'International', 'order': 10.25} ,
        {'symbol': 'ASHR', 'name': 'Xtrackers Harvest CSI 300 China A-Shares', 'sector': 'International', 'order': 10.26} ,
        {'symbol': 'EWJ', 'name': 'iShares MSCI Japan', 'sector': 'International', 'order': 10.27} ,
        {'symbol': 'EWY', 'name': 'iShares MSCI South Korea', 'sector': 'International', 'order': 10.28} ,
        {'symbol': 'EWT', 'name': 'iShares MSCI Taiwan', 'sector': 'International', 'order': 10.281} ,
        {'symbol': 'INDA', 'name': 'iShares MSCI India', 'sector': 'International', 'order': 10.29} ,
        {'symbol': 'ENZL', 'name': 'iShares MSCI New Zealand', 'sector': 'International', 'order': 10.3} ,
        {'symbol': 'EWA', 'name': 'iShares MSCI-Australia', 'sector': 'International', 'order': 10.31} ,
        {'symbol': 'EWC', 'name': 'iShares MSCI Canada', 'sector': 'International', 'order': 10.4} ,
        {'symbol': 'EWW', 'name': 'iShares MSCI Mexico', 'sector': 'International', 'order': 10.41} ,
        {'symbol': 'EWZ', 'name': 'iShares MSCI Brazil', 'sector': 'International', 'order': 10.42} ,
        {'symbol': 'ARGT', 'name': 'Global X MSCI Argentina', 'sector': 'International', 'order': 10.43} ,
        {'symbol': 'IZRL', 'name': 'ARK Israel Innovative Technology', 'sector': 'International', 'order': 10.6} ,
        {'symbol': 'EIS', 'name': 'iShares MSCI Israel', 'sector': 'International', 'order': 10.61} ,
        {'symbol': 'KSA', 'name': 'iShares MSCI Saudi Arabia', 'sector': 'International', 'order': 10.62} ,
        {'symbol': 'TUR', 'name': 'iShares MSCI Turkey', 'sector': 'International', 'order': 10.63} ,
        {'symbol': 'EZA', 'name': 'iShares MSCI South Africa', 'sector': 'International', 'order': 10.64} ,
    ]
    etf_df = pd.DataFrame.from_dict(etf_data)
    
    # etf_sectors = etf_df["sector"].unique().tolist()
    # manual order
    etf_sectors = ['Equity Index',  'Sector',
        'Currency',  'Commodity',
        'Agri',  'Energy',  'Energy-Clean',
        'Metal',  'Technology',
        'International']

    etf_dict = {}
    for sect in etf_sectors:
        sym_name = etf_df[etf_df["sector"] == sect][["symbol","name"]]
        etf_dict[sect] = dict(zip(sym_name.symbol, sym_name.name))
    
    return etf_df, etf_sectors, etf_dict

In [22]:
etf_df, etf_sectors, etf_dict = _load_etf_df()

In [23]:
etf_sectors

['Equity Index',
 'Sector',
 'Currency',
 'Commodity',
 'Agri',
 'Energy',
 'Energy-Clean',
 'Metal',
 'Technology',
 'International']

In [25]:
etf_df

   symbol                              name         sector  order
0     SPY                           S&P 500   Equity Index   0.10
1     QQQ                        Nasdaq 100   Equity Index   0.20
2     DIA                            Dow 30   Equity Index   0.30
3     IWM                      Russell 2000   Equity Index   0.40
4     SDS                     Short S&P 500   Equity Index   0.70
..    ...                               ...            ...    ...
78   IZRL  ARK Israel Innovative Technology  International  10.60
79    EIS               iShares MSCI Israel  International  10.61
80    KSA         iShares MSCI Saudi Arabia  International  10.62
81    TUR               iShares MSCI Turkey  International  10.63
82    EZA         iShares MSCI South Africa  International  10.64

[83 rows x 4 columns]

In [30]:
",".join(etf_df[etf_df["sector"].isin(['Equity Index', 'Sector'])]["symbol"].to_list())

'SPY,QQQ,DIA,IWM,SDS,QID,DXD,XLE,XME,XLK,XLF,XLV,XLI,XLB,XLP,XLY,XLC,XLU,XLRE'

In [33]:
",".join(etf_df[etf_df["sector"].isin(['Commodity','Agri','Metal'])]["symbol"].to_list())

'GSG,DBC,GLD,SLV,GDX,SILJ,COPX,URA,PALL,LIT,DBA,MOO,RJA,CORN,WEAT,COW,JO,WOOD,PHO'

In [34]:
",".join(etf_df[etf_df["sector"].isin(['International'])]["symbol"].to_list())

'SCHF,SCHC,GWX,EWG,EWQ,EWU,RSX,SCZ,EFA,FXI,MCHI,KWEB,ASHR,EWJ,EWY,EWT,INDA,ENZL,EWA,EWC,EWW,EWZ,ARGT,IZRL,EIS,KSA,TUR,EZA'

In [35]:
",".join(etf_df[etf_df["sector"].isin(['Energy','Energy-Clean','Technology'])]["symbol"].to_list())

'VGT,CLOU,IGV,SMH,USO,BNO,DBO,UNG,BOIL,GRN,ICLN'